%thead
  %tr
    %td
      %b Title
    %td
      %b Description
    %td
      %b Creator
    %td
      %b Performer
    %td
      %b Deadline
    %td
      %b State
    %td
      %i.icon-pencil
    %td
      %i.icon-remove
%tbody