%header
  %nav.round
    %ul.nav.nav-tabs
      %li{:class => (request.fullpath == root_path ? 'active' : '')}
        %a{:href => root_path}
          %i.icon-home
          Home
      %li{:class => (request.fullpath == users_path ? 'active' : '')}
        %a{:href => users_path}
          %i.icon-user
          Users

      - if signed_in?
        %li{:class => (request.fullpath.include?(stories_path) ? 'active' : '')}
          %a{:href => stories_path}
            %i.icon-briefcase
            Stories

        %li{:class => (request.fullpath == user_path(current_user) ? 'active' : '')}
          %a{:href => user_path(current_user)}
            %i.icon-pencil
            Profile

        %li{:class => (request.fullpath == edit_user_path(current_user) ? 'active' : '')}
          %a{:href => edit_user_path(current_user)}
            %i.icon-wrench
            Settings

        %li
          =link_to session_path(1), method: :delete do
            %i.icon-hand-up
            Sign out
      - else
        %li{:class => (request.fullpath == new_session_path ? 'active' : '')}
          %a{:href => new_session_path}
            %i.icon-hand-down
            Sign in

    - if request.fullpath.include?(stories_path)
      %ul.nav.nav-list.right
        %li.nav-header Stories actions
        %li{:class => (request.fullpath == stories_path ? 'active' : '')}
          %a{:href => stories_path} All stories
        %li
          %a{:href => root_path} My stories
        %li{:class => (request.fullpath == new_story_path ? 'active' : '')}
          %a{:href => new_story_path} Create story



