!!!
%html(lang="en")
  %head
    = render :partial => 'layouts/head'
    %title= title
  %body
    .container
      %header
        %nav.round
          %ul.nav.nav-tabs
            %li
              %a{:href => root_path}
                %i.icon-home
                Home
            %li
              %a{:href => users_path}
                %i.icon-user
                Users
            - if signed_in?
              %li.active
                %a{:href => stories_path}
                  %i.icon-briefcase
                  Stories
              %li
                %a{:href => user_path(current_user)}
                  %i.icon-pencil
                  Profile
              %li
                %a{:href => edit_user_path(current_user)}
                  %i.icon-wrench
                  Settings
              %li
                %a{:href => signout_path}
                  %i.icon-hand-up
                  Sign out
            - else
              %li
                %a{:href => signin_path}
                  %i.icon-hand-down
                  Sign in
      %ul.nav.nav-list.right
        %li.nav-header Stories actions
        -if request.fullpath == stories_path
          %li.active
            %a{:href => stories_path} All stories
        - else
          %li
            %a{:href => stories_path} All stories
        %li
          %a{:href => root_path} My stories
        -if request.fullpath == new_story_path
          %li.active
            %a{:href => new_story_path} Create story
        - else
          %li
            %a{:href => new_story_path} Create story

      %section.round
        = yield